@charset "ISO-8859-1";
div{
	background-color:red;
margin-bottom:15px;
	
}
span{
	background-color:blue;
}
#select{
	background-color:red;
	display:inline;
}
#common{
	background-color:blue;
	display:inline-block;
}

button:hover{
	background-color:lightblue;
	border:1px solid black
}
input:focus{
		background-color:lightgrey;
	border:1px solid black;
}