@charset "ISO-8859-1";
body{
	margin:0;
}
h1{
	color:blue;
	margin:0;
	font-size:50px;
	font-weigth:bold;
	font-family:verdana;
	font-style:italic;
	font-decoration:underline;
}
header{
	background-color:black;
	padding:10px;
}

div{
	background-color:pink;
	width :50px;
	height:30px;
	border:3px solid red;
	font-decoration:underline;
}
h2,h3,h4{
	color:red;
}
#select{
	color:blue;
}
.common{
	color:green;
}